@media only screen and (max-width: 600px) {

    .pre{
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: space-around;
        // border: 1px solid red;
    }



}