@media only screen and (max-width: 600px) {

    .nav{
        width: 100%;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid red;
    }
    .nav>div:nth-child(1){
        // border: 1px solid red;
        margin-left: 20px;
    }
    .nav>div:nth-child(2){
        // border: 1px solid red;
        margin-right: 20px;
    }



}